
<!DOCTYPE html>
<html lang="pl-PL">
    
<head>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQUA Services</title>
</head>

<body>
    <header>
    
        <h1>AQUA</h1>
        <img src="/images/octopus.png" class="logoheader"alt="AQUA Logo">
    </header>

    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="employees" class="active">Pracownicy</a></li>
            <li><a href="services">Usługi</a></li>
            <li><a href="clients" >Klienci</a></li>

        </ul>
    </nav>

    <main>
        <h2>Lista Pracowników</h2>
        <table>
            <thead>
                <tr>
                    
                    <th>Imię</th>
                    <th>Naziwsko</th>
                    <th>E-mail</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <% for (let emp of emps) { %>
                    <tr>
                        <td><%= emp.firstName %></td>
                        <td><%= emp.lastName %></td>
                        <td><%= emp.email %></td>
                        <td>
                            <ul class="list-action"> 
                                <li>
                                    <a href="/employees/details/<%=emp._id%>" class="list-action-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/employees/edit/<%=emp._id%>" class="list-action-button-edit" >Edytuj</a>
                                </li>
                                <li>
                                    <a href="/employees/delete/<%=emp._id%>" class="list-action-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <p><a href="employees/add"class="button-add">Dodaj nowego pracownika</a></p>

    </main>
    <footer>
        Paweł Pietrzak, s18793
    </footer>


</body>

</html>